* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20xp verdana, sans-serif;
}

h2 {
    font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article {
    display: block;
}

header nav {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

nav {
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
}


nav > ul {
    display: table;
    width: 100%;
    background: #000;
    position: relative;
}

nav > ul li {
    display: table-cell;
}

nav > ul > li:hover > ul {
    display:block;
    height: 100%;
}

nav > ul > li > ul {
    display: block;
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    transition:all .3s ease;
}

nav > ul li a {
    color: #fff;
    display:block;
    line-height: 20px;
    padding:20px;
    position:relative;
    text-align: center;
    text-decoration: none;
    transition:all .3s ease;
}

nav > ul > li > a span {
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
}

nav > ul > li > a span .icon {
    display:block;
    line-height: 60px;
}

nav > ul > li > a:hover > span {
    top:0;    
    transition:all .3s ease;
}

nav > ul > li > ul > li a:hover {
    background: #5da5a2;
}

body {
    text-align: center;
    background: url(../src/img-body-bg.gif) 0 0 repeat;
}

#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}

#menu {
}

#menu li {
    list-style: none;
    font: bold 14px verdana, sans-serif;
}

#seccion {
    float: left;
    width: 660px;
    margin: 20px;
}

#columna {
    float: left;
    width: 240px;
    margin: 10px 0px;
    padding: 10px;
}

#subcolumna {
    background: #cccccc;
}

#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}


.button {
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
}

.button span {
    margin-right: 10px;
}

.title {
    background: url(../src/background-title.png) repeat-x center top;
    height: 109px;
    width: 100%;
    float: left;
    position: relative;
    text-shadow: #000 0px 2px 0px;
    
}

.title > h1 {
    font-size: 42px;
    font-weight: bold;
    text-shadow: #fff 0px 1px 0px;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    color: #fff;
    text-align: center;
}

.n {
    padding: 5px;
}

.portada {
    text-align: center;
    margin-top: -60px;
}

div .hr {
    border-bottom-style: solid;
    border-color: #cccccc;
    height: 1px;
    margin: 25px 0;
    display: block;
    padding-top: 79px;
}

.body {
    text-align: justify;
}

.escudo {
    text-align: center;
}

.facebook {
    width: 240px;
}