<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="plantillaLogin.master.cs" Inherits="WebEscuela.Plantillas.plantillaLogin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Escuela Palestina | Iniccio de Sesion</title>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    
</body>
</html>
